<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" th:href="@{/css/main.css}">
  <link rel="stylesheet" th:href="@{/css/admin/admin.css}">
  <link rel="stylesheet" th:href="@{/css/admin/listagem.css}">
  <title>Admin</title>
</head>
<body>
  <div id="cabecalho">
    <div></div>
    <div><h3>COLEGIADO</h3></div>
    <div></div>
  </div>

  <div class="container">


    <div id="main">
        <div>
          <h2>ADICIONAR MEMBROS</h2>
          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Adicionar</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prof : ${professores}">
                <th scope="row" th:text="${prof.nome}"> </th>
                <td th:text="${prof.curso.nome}" scope="row"> </td>

                <td>
                  <form th:action="@{/admin/colegiado/membros}" method="post">
                    <input type="hidden" th:value="${colegiadoId}" name="idColegiado">
                    <input type="hidden" th:value="${prof.id}" name="idProfessor">
                    <button type="submit"> <img th:src="@{/images/user-plus.svg}" alt="enviar"> </button> 
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <a th:href="'/Agora/admin/colegiado/' + ${colegiadoId}" class="a-style">Voltar</a>
        </div>
    </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>