<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='CURSOS', personToList='cursos'">
</head>
<body>

  <div layout:fragment="content">

    <div id="main">
      <h2>Salvar curso </h2>

      <div id="form-register">
        <form th:action="@{/admin/curso}" method="post" th:object="${curso}">

            <input type="hidden" th:field="*{id}"/>
          
            <label for="nome">Nome:</label>
            <input type="text" th:field="*{nome}" id="nome" class="form-control"/>
            <p th:if="${#fields.hasErrors('nome')}" th:errorclass="error" th:errors="*{nome}"></p>
          <button type="submit" class="button-style"> Salvar </button>
        </form>
        
      </div>
    </div>
  </div>
</body>
</html>