<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='COLEGIADO', personToList='colegiados'">
<body>

    <div layout:fragment="content">
    <div id="main">
      <h2> Salvar ÓRGÃO DE COLEGIADO</h2>

      <div id="form-register">
        <form th:action="@{/admin/colegiado}" method="post" th:object="${colegiado}">
            <input type="hidden" th:field="*{id}">

            <label for="datainicio">Data de início:</label>
            <input type="date" th:field="*{dataInicio}" class="form-control"/>
            <p th:if="${#fields.hasErrors('dataInicio')}" th:errorclass="error" th:errors="*{dataInicio}" ></p>
          
          
            <label for="datafim">Data de fim:</label>
            <input type="date" th:field="*{dataFim}" class="form-control"/>
            <p th:if="${#fields.hasErrors('dataFim')}" th:errorclass="error" th:errors="*{dataFim}" ></p>
          
          
            <label for="descricao">Descrição:</label>
            <input type="text" th:field="*{descricao}" class="form-control"/>
            <p th:if="${#fields.hasErrors('descricao')}" th:errorclass="error" th:errors="*{descricao}" ></p>
          
            <label for="portaria">Portaria:</label>
            <input type="text" th:field="*{portaria}" class="form-control"/>
            <p th:if="${#fields.hasErrors('portaria')}" th:errorclass="error" th:errors="*{portaria}" ></p>
          
            <label for="curso"> Curso </label>
            <select th:field="*{curso.id}" class="form-select mb-2">
                <option th:each="curso : ${cursoItems}" th:value="${curso.id}" th:text="${curso.nome}" />

            </select>
            <table class="table" id="tabela" th:if="${colegiado.id != null && colegiado.membros != null && colegiado.membros.size() > 0}">
                <thead>
                    <tr>
                        <th scope="col">nome do professor </th>
                        <th scope="col">Excluir</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="professor : ${colegiado.membros}">
                        <th th:text="${professor.nome}" scope="row"></th>
                        <td>
                            <a th:onclick="|deletar(${professor.id})|">
                                <img th:src="@{/images/trash-2.svg}">
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>

          
          <a th:if="${colegiado.id != null}" th:href="${colegiado.id} + '/membros'"> Adicionar membros </a>

          <button type="submit" class="button-style"> Salvar </button>
        </form>
        
      </div>
    </div>
  </div>
</body>
</html>