<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/src/main/resources/static/css/admin/homepage.css">

  <title>Homepage Admin</title>
</head>
<body>
  <div id="cabecalho">
    <div>
      <img src="/src/main/resources/static/images/logo-ifpb.svg" alt="logo do ifpb" id="logo">
      <h3>IFPB</h3>
    </div>

    <h2>Homepage do Administrador</h2>

    <div>
      <p>Username</p>
      <a href="#" id="logout-button">
        <img src="/src/main/resources/static/images/log-out.svg" alt="logout">
      </a>
    </div>
  </div>

  <div id="container">
    <div id="top-container">
      <div></div>
      <h1>Bem-vindo, Username!</h1>
      <input type="text">
    </div>

    <div id="main-container">
      <a href="listagem-colegiados.html">
        <img src="/src/main/resources/static/images/home.svg" alt="">
        Colegiado
      </a>
      
      <a href="listagem-assunto-processo-reuniao.html">
        <img src="/src/main/resources/static/images/file-text.svg" alt="">
        Assuntos de Processos
      </a>
      
      <a href="listagem-cursos.html">
        <img src="/src/main/resources/static/images/book-open.svg" alt="">
        Cursos
      </a>
      
      <a href="listagem-professor.html">
        <img src="/src/main/resources/static/images/edit-3.svg" alt="">
        Professores
      </a>
      
      <a href="listagem-aluno.html">
        <img src="/src/main/resources/static/images/user.svg" alt="">
        Alunos
      </a>
    </div>
  </div>
</body>
</html>