<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='PESSOAL', personToList='professores'">
  
<body>
  <div layout:fragment="content">
    <div id="main">
        <div>
          <h2>LISTAGEM PROFESSORES</h2>
          <div th:replace="~{/fragments/paging-select-size}" ></div>
          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Coordenador</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="prof : ${professores}">
                <th th:text="${prof.matricula}" scope="row"></th>
                <td th:text="${prof.nome}"> </td>
                <td th:text="${prof.coordenador ? 'Sim' : 'Não'}"> </td>
                <td>
                  <a th:href="@{professor/{id}(id=${prof.id})}">
                    <img th:src="@{/images/pencil-square.svg}">
                  </a>
                </td>
                <td>
                  <form th:action="@{professor/deletar/{id}(id=${prof.id})}">
                    <button class="btn btn-primary btn-sm" type="submit">
                      <img th:src="@{/images/trash-2.svg}">
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
          <div th:replace="~{/fragments/paging :: paginator('admin/professor', ${navPage})}" ></div>
        </div>
    </div>
  </div>    
</body>
</html>