<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='PESSOAL', personToList='assuntos'">
<body>

  <div layout:fragment="content">

    <div id="main">
        <div>
          <h2>LISTAGEM DE ASSUNTO DE PROCESSO</h2>
          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Título</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="ass : ${assuntos}">
                <th th:text="${ass.nome}" scope="row"> </th>
                <td>
                  <a th:href="@{assunto/{id}(id = ${ass.id})}">
                    <img th:src="@{/images/pencil-square.svg}">
                  </a>
                </td>
                <td>
                  <form th:action="@{assunto/deletar/{id}(id=${ass.id})}">
                    <button class="btn btn-primary btn-sm" type="submit">
                      <img th:src="@{/images/trash-2.svg}">
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>    
</body>
</html>