<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='CURSOS', personToList='cursos'">
<body>

  <div layout:fragment="content">
    <div id="main">
        <div>
          <h2>LISTAGEM DE CURSOS</h2>
          <div th:replace="~{/fragments/paging-select-size}" ></div>
          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="curso : ${cursos}">
                <th th:text="${curso.nome}" scope="row"></th>
                <td>
                  <a th:href="@{curso/{id}(id=${curso.id})}">
                    <img th:src="@{/images/pencil-square.svg}">
                  </a>
                </td>
                <td>
                  <form th:action="@{curso/deletar/{id}(id=${curso.id})}">
                    <button class="btn btn-primary btn-sm" type="submit">
                      <img th:src="@{/images/trash-2.svg}">
                    </button>
                  </form>

                </td>
              </tr>
            </tbody>
          </table>
          <div th:replace="~{/fragments/paging :: paginator('admin/curso', ${navPage})}" ></div>
        </div>
    </div>
  </div>
</body>
</html>