<!DOCTYPE html>
<html lang="pt-br" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
layout:decorate="layout/layout"
th:with="userType='admin', titleHeader='PESSOAL', personToList='alunos'">
</head>
<body>
  <div layout:fragment="content">

    <div id="main">
        <div>
          <h2>LISTAGEM DE ALUNOS</h2>
          <table class="table" id="tabela">
            <thead>
              <tr>
                <th scope="col">Matrícula</th>
                <th scope="col">Nome</th>
                <th scope="col">Curso</th>
                <th scope="col">Alterar</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="alu : ${alunos}">
                <th th:text="${alu.matricula}" scope="row"></th>
                <td th:text="${alu.nome}"></td>
                <td th:text="${alu.curso.nome}">Tecnologia em Sistemas para Internet</td>
                <td>
                  <a th:href="@{aluno/{id}(id=${alu.id})}">
                    <img th:src="@{/images/pencil-square.svg}">
                  </a>
                </td>
                <td>
                  <form th:action="@{aluno/deletar/{id}(id=${alu.id})}">
                    <button type="submit">
                      <img th:src="@{/images/trash-2.svg}">
                    </button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</body>
</html>