<!DOCTYPE html>
<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout/layout-coordenador"
th:with="title='coordenador', titleHeader='COLEGIADO'">
<body>

  <div layout:fragment="content">
    <div id="main">

      <h2>NOVA SESSÃO DO COLEGIADO</h2>

      <form th:action="@{/coordenador/sessao/cadastro}" method="post" th:object="${reuniao}">
          <div id="form-register">
            <p></p>

            <label for="dataReuniao">Data:</label>
            <input type="date" th:field="*{dataReuniao}" class="form-control" />
            <p></p>

            <label for="horario">Hora:</label>
            <input type="time" th:field="*{horario}" class="form-control" />
            <p></p>

            <label for="tabela-1-sessao" class="col-form-label">Pauta da Sessão:</label>

            <div class="form-tabela">
              <table class="table table-bordered" id="tabela-1-sessao">
                <thead>
                  <tr>
                    <th>Número do processo</th>
                    <th>Assunto</th>
                    <th>Relator</th>
                    <th>Aluno Interessado</th>
                    <th> Decisão do relator </th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="processo : ${processos}">
                    <td th:text="${processo.numero}"> </td>
                    <td th:text="${processo.assunto.nome}"></td>
                    <td th:text="${processo.relator.nome}"></td>
                    <td th:text="${processo.interessado.nome}"></td>
                    <td th:text="${processo.decisaoRelator}"></td>
                  </tr>
                </tbody>
              </table>

              <div id="add-person">

                <a href="" id = "addProcesso" onclick="salvarReuniaoEmMemoria()"> Adicionar Processos </a>

              </div>

            </div>
            <button type="submit" class="button-style">Cadastrar</button>

          </div>
      </form>

                 <!--! ! ! ! ! !  MENSAGEM ! ! ! ! ! ! !  -->

      <!-- <div class="message">
          <p>Sessão Cadastrada com Sucesso!</p>
          <img th:src="@{/images/check.svg}" alt="check"> 
      </div> -->


    </div>

   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"></script>
    
    <script>
      function salvarReuniaoEmMemoria(event) {
      const dataReuniao = document.getElementById("dataReuniao").value;
      const horario = document.getElementById("horario").value;
      console.log(dataReuniao, horario)
      event.preventDefault();

      fetch("http://localhost:8080/Agora/coordenador/sessao/salvarMemoria", {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({"dataReuniao": dataReuniao, "horario": horario})
        })
        .then(res => {
            if (!res.ok) {
                throw new Error(`Erro na requisição: ${res.status} ${res.statusText}`);
            }
            return res.json();
        })
        .then(data => {
            // Lógica de sucesso
            window.location.href = "http://localhost:8080/Agora/coordenador/sessao/add/processo";
        })
        .catch(error => {
            // Tratamento de erro
            console.error('Erro na requisição fetch:', error);
        });
    }
    document.getElementById("addProcesso").addEventListener("click", salvarReuniaoEmMemoria);

 
    </script>
</body>
</html>