<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/professor/professor.css}">
    <title>Homepage do Professor</title>
    
</head>

<body>
    <div class="header">
        <h1>Homepage do Professor</h1>
    </div>

    <div class="divider"></div>

    <div class="msg-bmvndo">
        <p>Bem-vindo, [nome do professor]</p>
    </div>

    <div class="username">
        <p>[username do professor]</p>
    </div>

    <div class="conteudo">
        <a class="button" th:href="@{/professor/processos}">Processos</a>
        <a class="button" th:href="@{/professor/reunioes}">Reuniões</a>
    </div>
</body>

</html>
