<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/processos.css}">
    <title>Processos</title>
</head>

<body>
    <div class="header">
        <div class="icon">
            <a href="home.html">&#9665; </a>
        </div>
        <h1>Processos</h1>
    </div>

    <div class="tabela">
        <table>
            <thead>
                <tr>
                    <th>Nº</th>
                    <th>Assunto</th>
                    <th>Status</th>
                    <th>Documento</th>
                    <th>Votar</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="processo : ${processos}">
                    <td th:text="${processo.numero}"></td>
                    <td th:text="${processo.assunto.nome}">Assunto do Processo</td>
                    <td><a href="" target="_blank">Ver Documento</a></td>
                    <td>
                        <form class="vote-form" method="post" th:action="@{/professor/processos}"
                        th:if="${processo.tipoDecisao == null}">
                            <input type="hidden" name="id" th:value="${processo.id}">
                            <input type="radio" class="vote-radio" name="voto" value="deferir"> Deferir
                            <input type="radio" class="vote-radio" name="voto" value="indeferir"> Indeferir
                            <textarea name="justificativa" placeholder="Digite sua justificativa"></textarea>
                            <button type="submit">Enviar</button>
                        </form>
                        <div th:unless="${processo.tipoDecisao == null}">
                            <p> Processo votado </p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
