<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/css/professor.css">
    <title>Homepage do Professor</title>
    
</head>

<body>
    <div class="header">
        <h1>Homepage do Professor</h1>
    </div>

    <div class="divider"></div>

    <div class="msg-bmvndo">
        <p>Bem-vindo, [nome do professor]</p>
    </div>

    <div class="username">
        <p>[username do professor]</p>
    </div>

    <div class="conteudo">
        <a class="button" href="processos.html">Processos</a>
        <a class="button" href="reunioes.html">Reuniões</a>
    </div>
</body>

</html>
