<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../static/css/reunioes.css">
    <title>Reuniões</title>
    
</head>

<body>
    <div class="header">
        <div class="icon">
            <a href="professor.html">&#9665; </a>
        </div>
        <h1>Reuniões</h1>
    </div>

    <div class="username">
        <p>[username do professor]</p>
    </div>

    <div class="center-content">
        <table>
            <thead>
                <tr>
                    <th>Reunião</th>
                    <th>Data</th>
                    <th>#Processos</th>
                    <th>Status</th>
                    <th>Operação</th>
                </tr>
            </thead>
            <tbody>
                <!-- As linhas da tabela serão preenchidas dinamicamente aqui usando JavaScript ou servidor-side scripting -->
            </tbody>
        </table>
    </div>
</body>

</html>