<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../static/css/reunioes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reuniões</title>
</head>

<body>
    <div class="header">

        <div class="icon">
            <a href="professor.html">&#9665; </a>
        </div>
        <h1>Reuniões</h1>
    </div>

    <div class="username">
        <p>[username do professor]</p>
    </div>


    <div class="centro">
        <form class="filter-form">
            <label for="status-filter">Filtrar por status:</label>
            <select id="status-filter" name="status">
                <option value="agendadas">Agendadas</option>
                <option value="finalizadas">Finalizadas</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="centro">
        <table>
            <thead>
                <tr>
                    <th>Reunião</th>
                    <th>Data</th>
                    <th>#Processos</th>
                    <th>Status</th>
                    <th>Operação</th>
                </tr>
            </thead>
            <tbody>
                

            </tbody>
        </table>
    </div>
</body>

</html>