<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../static/css/professor/reunioes.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reuniões</title>
</head>

<body>
    <div class="header">

        <div class="icon">
            <a href="home.html">&#9665; </a>
        </div>
        <h1>Reuniões</h1>
    </div>

    <div class="username">
        <p>[username do professor]</p>
    </div>


    <div class="centro">
        <form class="filter-form" method="post" th:action="">
            <label for="status-filter">Filtrar por status:</label>
            <select id="status-filter" name="status">
                <option value="encerrada">Encerrada</option>
                <option value="agendada">Agendada</option>
                <option value="em_andamento">Em andamento</option>
            </select>
            <button type="submit">Filtrar</button>
        </form>
    </div>

    <div class="centro">
        <table>
            <thead>
                <tr>
                    <th>Data</th>
                    <th>#Processos</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="reuniao : ${reunioes}">
                <td th:text="${reuniao.getDataReuniao()}"> </td>
                <td th:text="${reuniao.getProcessos().size()}"></td>
                <td th:text="${reuniao.getStatus()}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</body>

</html>