html,
body {
    /* font-family: 'Sunflower', sans-serif; */
    /* background-color: #F1F1F1; */
    color: #0D4085;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #10428C;
    box-shadow: 0px .8px .8px rgba(0, 0, 0, 0.5);
    height: 3rem;
}


.header h3 {
    margin-top: .8rem;
    font-weight: bolder;
}

#nome-professor {
    margin-right: .5rem;
}

.divider {
    border-bottom: 2px solid #10428C;
    margin: 20px auto;
}

.msg-bmvndo,
.username {
    text-align: center;
    margin: 20px 0;
}

#logout-button {
    background: #F1F1F1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30px;
    border-style: none;
  
    display: flex;
    justify-content: center;
    align-items: center;
  }

.button {
    background: linear-gradient(to right, #50D5FF, #2F64CC);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.conteudo {
    text-align: center;
}

.middle-div {
  margin-left: 10rem;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin-top: 3rem;
    gap: 8rem;
  }

  #sidebar {
    display: flex;
    flex-direction: row;
    gap: 6rem;
    margin-right: 6.5rem;
  }
  
  #sidebar a {
    margin-bottom: 2rem;
  
    width: 10rem;
    height: 3rem;
  
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 8px;
    background: #F1F1F1;
  }

  #sidebar input {
    width: 10rem;
    height: 3rem;
  
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
  
    border-radius: 8px;
    background: #F1F1F1;
  
    border: none;
  }
