body {
    font-family: 'Sunflower', sans-serif;
    background-color: #F1F1F1;
}

.header {
    text-align: center;
    background-color: #10428C;
    color: white;
    padding: 10px;
}

.icon {
    font-size: 24px;
    display: inline;
}

.icon a {
    color: white;
    text-decoration: none;
}

.icon a:hover {
    text-decoration: none;
}

.tabela {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    text-align: center;
    padding: 10px;
}

th {
    background-color: #10428C;
    color: white;
}

tr:nth-child(even) {
    background-color: #F1F1F1;
}

tr:nth-child(odd) {
    background-color: #D9D9D9;
}

a {
    color: #10428C;
    text-decoration: none;
}

.vote-form {
    text-align: center;
}

.vote-radio {
    margin: 5px;
}

textarea {
    width: 100%;
    height: 60px;
    margin: 10px;
    border: 1px solid #10428C;
}

button[type="submit"] {
    background: linear-gradient(to right, #50D5FF, #2F64CC);
    color: white;
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: linear-gradient(to right, #2F64CC, #50D5FF);
}