html,
body {
    color: #0D4085
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1.95rem;
    gap: 8rem;
}

#sidebar {
    display: flex;
    flex-direction: column;
  }
  
  #sidebar a {
    margin-bottom: 2rem;
    width: 10rem;
    height: 3rem;
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 8px;
    background: #F1F1F1;
  }

  #sidebar input {
    width: 10rem;
    height: 3rem;
  
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
  
    border-radius: 8px;
    background: #F1F1F1;
  
    border: none;
  }



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #10428C;
    box-shadow: 0px .8px .8px rgba(0, 0, 0, 0.5);
    height: 3rem;
}


.header h3 {
    margin-top: .8rem;
    font-weight: bolder;
}

.header .icon {
    font-size: 24px;
    float: left;
    margin-right: 20px;
}

#logout-button {
    position: absolute;
    top: 15px;
    right: 10px;
    filter: invert(100%);

}


.username {
    text-align: center;
    font-weight: bold;
    margin: 20px 0;
}


.filter-form {
    margin: 10px;
}

.filter-form label {
    color: #10428C;
}

select,
button {
    background: linear-gradient(to right, #50D5FF, #2F64CC);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-family: Arial, sans-serif;
}



.icon {
    font-size: 24px;
    display: inline;
    color: #10428C;
    text-decoration: none;
    background: #F1F1F1;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 30px;
    border-style: none;

    display: flex;
    justify-content: center;
    align-items: center;


}

.username {
    position: absolute;
    top: 20px;
    right: 20px;
}

.centro {
    margin: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

   

}


#tabela {
    padding: 20px;
    background: #F1F1F1;
    color: #0D4085;
    margin: 20px auto;
    width: 100%;

}

table {
    width: 100%;
    background-color: white;
    border-collapse: collapse;
    margin: auto;
}


th,
td {
    /* border: 1px solid #ccc; */
    padding: 20px;
    text-align: left;
}

.middle-div {
    margin-left: 10rem;
}