body {

    color: #0D4085;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #10428C;
    box-shadow: 0px .8px .8px rgba(0, 0, 0, 0.5);
    height: 3rem;
}

.header h3 {
    margin-top: .8rem;
    font-weight: bolder;
}

.middle-div {
    margin-left: 10rem;
}


.header .icon {
    font-size: 24px;
    float: left;
    margin-right: 20px;
}

.vote-form {
    text-align: center;
    margin: 20px;
}

.vote-radio {
    margin: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

button {
    background: linear-gradient(to right, #50D5FF, #2F64CC);
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.error-message {
    color: #721c24; /* Cor de texto vermelha do Bootstrap */
    background-color: #f8d7da; /* Cor de fundo vermelha clara do Bootstrap */
    border: 1px solid #f5c6cb; /* Cor da borda do Bootstrap */
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px; /* Borda arredondada do Bootstrap */

}

#sidebar {
    display: flex;
    flex-direction: column;
  }
  
  #sidebar a {
    margin-bottom: 2rem;
    width: 10rem;
    height: 3rem;
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
  
    border-radius: 8px;
    background: #F1F1F1;
  }

  #sidebar input {
    width: 10rem;
    height: 3rem;
  
    color: black;
    font-weight: 700;
    font-size: large;
    text-decoration: none;
  
    border-radius: 8px;
    background: #F1F1F1;
  
    border: none;
  }


a {
    text-decoration: none;
    color: black;
    background: #F1F1F1;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: .1rem;

}

a:hover {
   color: black;
}