#tabela {
  background: #F1F1F1;
  color: #0D4085;

  margin-top: 2rem;


  width: 38vw;
}


#tabela-sessoes {
  width: 110%;
  color: #316CCF;
  border-radius: 15px;
  overflow: hidden;   


}

#tabela-sessoes tr {
  height: 3.5rem;
  
}

td, th {
  padding: 2rem;
}



#tabela-sessoes thead {
  background-color: #E9E9E9;
}

#tabela-sessoes tbody tr:nth-child(odd) {
  background-color: #F1F1F1;
}

#tabela-sessoes tbody tr:nth-child(even) {
  background-color: #E9E9E9;
}

#main {
  width: 90%;
}

.message {
  text-align: center;
  background-color: #ffffff;
  border-radius: 16px;
  background: #F1F1F1;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 15rem;
}

.message p {
  font-weight: bold;
  margin: 0;
  font-size: 18px;
}

.message img {
  transform: scale(.8);
}

#tabela button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}