#main {
  width: 50%;
}

#main form {
  display: flex;
  align-items: center;
  gap: .5rem;
}

#filter-input {
  background: linear-gradient(90deg, #50D5FF 0%, #2F64CC 100%);
  color: white;
  width: 5rem;
  height: 2rem;
  border-radius: 8px;

  font-size: medium;
  font-weight: bold;
}

#select-table {
  background: linear-gradient(90deg, #50D5FF 0%, #2F64CC 100%);
  color: white;
  width: 13rem;
  height: 2rem;
  border-radius: 8px;
  border-style: none;

  font-size: medium;
  font-weight: bold;
}

#search-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#tabela-processos {
  background: #F1F1F1;
  color: #0D4085; 
  width: 60vw;
}

.button {
  width: 10rem;
  height: 3rem;

  color: white;
  font-weight: 700;

  border-radius: 8px;
  background: linear-gradient(90deg, #50D5FF 0%, #2F64CC 100%);
}

#novo-processo {
  text-decoration: none;
  padding: .8rem 1.5rem;

  color: white;
  font-weight: 700;

  border-radius: 8px;
  background: linear-gradient(90deg, #50D5FF 0%, #2F64CC 100%);
}

#novo-processo:visited {
  color: white;
}

.error-message {
  color: #721c24; /* Cor de texto vermelha do Bootstrap */
  background-color: #f8d7da; /* Cor de fundo vermelha clara do Bootstrap */
  border: 1px solid #f5c6cb; /* Cor da borda do Bootstrap */
  padding: 10px;
  margin: 10px 0;
  border-radius: 4px; /* Borda arredondada do Bootstrap */

}
