<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{/css/aluno/main.css}">
  <link rel="stylesheet" th:href="@{/css/aluno/cadastro-processo-aluno.css}">
  <title>Aluno</title>
</head>
<body>
   <div id="cabecalho"> 
    <div></div>
    <div><h3>ALUNO</h3></div>
    <div id="nome-aluno"> <h3 th:text="${session.usuario.nome}"> </h3></div>
  </div>

  <div class="container">
    <div id="sidebar">
      <a th:href="@{/aluno/processo/cadastrar}"> Novo Processo </a>
      <a th:href="@{/aluno/processo}"> Listar processos </a>
      <a th:href="@{/auth/logout}">Logout</a>
    </div>
    <div id="main"> 
      <h2> Salvar processo </h2>
      <form id="form-container" th:action="@{/aluno/processo/cadastrar}" method="post" th:object="${processo}">
        
          <label for="assunto-input" class="form-label">Assunto:</label>
          <select class="form-select" th:field="*{assunto.id}" id="assunto-input">
              <option th:each="ass : ${assuntoItens}" th:value="${ass.id}" th:text="${ass.nome}"></option>

          </select> 
        
          <label for="descricao-input" class="form-label">Descrição:</label>
          <input type="text" class="form-control" th:field="*{textoAluno}" id="descricao-input">
          <p th:if="${#fields.hasErrors('textoAluno')}" th:errorclass="error" th:errors="*{textoAluno}"></p>
        
          <label for="arquivos" class="form-label">Arquivos:</label>
          <input class="form-control" th:field="*{anexos}" type="file" id="arquivos" multiple>
  
        <button type="submit" class="button"> Salvar </button>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>